body {
    font-family: palatino, "Palatino Linotype", "Palatino LT STD", "URW Palladio L", "TeX Gyre Pagella", serif;
    box-sizing: border-box;
}
@media screen {
  body { padding-top: 2rem; max-width: 40em; margin: auto; font-size: 120%; }
  hr { display: none; }
}
@media print {
  @page { size: letter; margin: 4rem 0rem 4.333rem 0rem; }
  body { margin-left: 4.5rem; margin-right: 4.5rem; }
  h1, h2 { page-break-before: always; margin-top: 0; }
  h1:first-of-type, h2:first-of-type { page-break-before: auto; }
  hr+* { page-break-before: always; margin-top: 0; }
  hr { display: none; }
}
h1, h2, h3, h4, h5, h6 { color: #4f81bd; }
h2 { border-bottom: solid #4f81bd 1px; }
pre, code { background-color: #eee; font-family: "DejaVu Sans Mono", monospace; }
code { font-size: 75%; }
pre { padding: 0.33rem; }

body {
  counter-reset: section 0 subsection 0 appendix 0;
}
h2:before, h3:before {
    text-align: right;
    display: inline-block;
    position: relative;
    right: 2.33em;
    font-size: 75%;
    text-align: right;
    width: 2em;
    margin-right: -2em;
    height: 0;
}
h2:before {
    counter-increment: section;
    content: counter(section) ". ";
}
h2 {
    counter-reset: subsection 0;
}
h3:before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) ". ";
}

h2[id^="appendix-"]:before {
    counter-increment: appendix;
    content: counter(appendix,upper-latin) ". ";
}
h2[id^="appendix-"] ~ h3:before {
    counter-increment: subsection;
    content: counter(appendix,upper-latin) "." counter(subsection) ". ";
}

h2#notes:before {
    display: none;
}

.footnotes > ol { padding: 0; font-size: 90%; }

table {
    border-collapse: collapse;
    width: 100%;
}
thead tr {
    border-bottom: solid black 1px;
}
th {
    font-weight: normal;
    text-align: left;
    padding-right: 0.5rem;
    padding-bottom: 0.3rem;
}
td {
    padding-right: 0.5rem;
}
